*
!.gitignore
!*.py
!server
!static
!templates
!collector/*.py
!sensortag-sampler
!sensortag-sampler/*.c
!sensortag-sampler/*.h
!sensortag-sampler/Makefile
!*.c
!*.h
!*.html
!*.js
!Makefile
!README.md
!collector
!collector/*.py