<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript">
function  Search() {
    $.ajax({
    	type: "GET",
      	url: "http://localhost:5000/authenticate/user"
    
    }).done(function(data) {
      console.log('Successfully done')
      console.log(data)
      if(data["is_success"]==true){

		document.getElementById("status").innerHTML="Successful Authentication Done"; 
      }
      else{
			document.getElementById("status").innerHTML="Not authenticated"; 
      }
      
    });
}
</script>
</head>
<body>
  
<h1> Authenticate the user </h1>

</br>
 
  <form class="form-inline">
        <button type="button" class="btn btn-primary" onclick="Search()">Authenticate User</button>
        </form>
   <div id="status">

   </div>
</body>
</html> 